.country{
    background-color: aquamarine;
    border: 2px solid red;
    border-radius: 12px;
    padding: 12px;
}
.country img{
    width: 300px;
}
.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7px;
}